<mat-toolbar color="primary" class="blv-toolbar">
    <span>BuddhiVision</span>
    <span class="spacer"></span>

    <button class="blv-btn--download" mat-raised-button color="accent" (click)="downloadModel()" [disabled]="btnDownload">Download Model</button>
    <button class="blv-btn--addexample" mat-raised-button color="accent" (click)="resetApp()" [disabled]="btnAddExample">Reset</button>
</mat-toolbar>
<div class="blv-settings--wrapper">
    <div class="blv-settings">
        <mat-form-field>
            <mat-label>Learning Rate</mat-label>
            <mat-select (selectionChange)="updateLearningRate($event.value)" [(value)]="learningRate">
                <mat-option *ngFor="let selectorValues of learningRateValues" [value]="selectorValues.value">
                    {{selectorValues.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Batch Size</mat-label>
            <mat-select (selectionChange)="updateBatchSize($event.value)" [(value)]="batchSizeFraction">
                <mat-option *ngFor="let selectorValues of batchSizeValues" [value]="selectorValues.value">
                    {{selectorValues.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Epochs</mat-label>
            <mat-select (selectionChange)="updateEpochs($event.value)" [(value)]="epochsNum">
                <mat-option *ngFor="let selectorValues of epochsValues" [value]="selectorValues.value">
                    {{selectorValues.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Dense Units</mat-label>
            <mat-select (selectionChange)="updateDenseUnits($event.value)" [(value)]="denseUnits">
                <mat-option *ngFor="let selectorValues of denseValues" [value]="selectorValues.value">
                    {{selectorValues.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="blv-batch--label">
            <mat-label>Classes</mat-label>
            <input matInput type="number" min="2" max="100" (change)="updateControllerData($event)" [(value)]="NUM_CLASSES" [disabled]="numClassField">
        </mat-form-field>
    </div>
</div>

<div class="blv-proceed-button--wrapper">
    <mat-slide-toggle (click)="switchTrainingMode()">Bulk Trianer</mat-slide-toggle>
</div>

<div #trainingDataset class="blv-training-class--wrapper">
    <div #manualMode class="blv-training--class" *ngIf="!autoMode">
        <div class="blv-class--id">
            Current Class
            <span>{{label + 1}}</span>
        </div>
        <mat-form-field class="blv-batch--label">
            <mat-label>Batch Label</mat-label>
            <input #labelName matInput placeholder="Ex. Pizza" (input)="enableUpload()" [disabled]="labelInput">
        </mat-form-field>
        <button class="blv-btn--upload" mat-raised-button color="accent" (click)="blvUpload.click()" [disabled]="btnUpload">Upload</button>
        <input #blvUpload hidden="true" type="file" id="myfile" name="myfile" multiple accept="image/*" (change)="getFileUpload($event)">
        <button class="blv-btn--label" mat-raised-button color="accent" (click)="getTrainData()" [disabled]="btnLabel">Add Dataset</button>
        <button class="blv-btn--train" mat-raised-button color="accent" (click)="train()" [disabled]="btnTrain">Train</button>
    </div>
    <div #autoMode class="blv-auto-training--class" *ngIf="autoMode">
        <button class="blv-btn--autotrain" mat-raised-button color="accent" (click)="blvAutoUpload.click()">Upload</button>
        <input #blvAutoUpload hidden="true" type="file" id="myfile2" name="myfile" accept=".json" (change)="autoTrainModel($event)">
        <button class="blv-btn--train" mat-raised-button color="accent" (click)="train()" [disabled]="btnTrain">Train</button>
    </div>
</div>

<div class="console"></div>

<div class="blv-image--wrapper">
    <div #imageArea class="image-area"></div>
</div>

<router-outlet></router-outlet>