.spacer {
    flex: 1 1 auto;
}

.blv-toolbar {
    button {
        margin: 0px 5px;
    }
}

.blv-settings--wrapper {
    margin: 18px 20px;
    display: block;
    border: thin solid #dadce0;
    border-radius: 8px;
    .blv-settings {
        margin: 18px auto;
        display: block;
        width: fit-content;
        mat-form-field {
            width: 130px;
            display: inline-block;
            margin-right: 15px;
        }
    }
}

.blv-image--wrapper {
    margin: 5px 20px;
    min-height: 100px;
    border: thin solid #424242;
    border-radius: 8px;
    /* display: none; */
    .image-area {
        margin: 10px auto;
        display: block;
        max-width: 702px;
    }
}

.blv-training-class--wrapper {
    margin: 5px 20px;
    min-height: 100px;
    border: thin solid #f7931e;
    border-radius: 8px;
    .blv-training--class {
        margin: 18px auto;
        display: block;
        mat-form-field {
            width: 360px;
            display: inline-block;
            margin-right: 15px;
        }
    }
    .blv-auto-training--class {
        margin: 32px auto;
        display: block;
        width: fit-content;
    }
    button {
        margin: 6px;
    }
    .blv-class--id {
        display: inline-block;
        float: left;
        padding: 0px 30px;
        font-size: 10px;
        span {
            font-size: 50px;
            display: block;
            text-align: center;
            color: #3a3a3a;
        }
    }
}

.blv-proceed-button--wrapper {
    margin: 5px 18px;
    display: inline-block;
    width: calc(100% - 36px);
    mat-slide-toggle {
        float: right;
    }
}

.console {
    margin: 15px auto;
    text-align: center;
    color: #ff0000;
}